<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Achieve</title>
    <link rel="stylesheet" href="vendors/css/normalize.css">
    <link rel="stylesheet" href="vendors/css/sample.css">
</head>
<body>
<header>


<p id="notice"><%= notice %></p>

</header>

<body>



<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>
<p>
  <%= @tweet.created_at.to_s(:datetime_jp) %>
  <%= @tweet.updated_at.to_s(:datetime_jp) %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>

<footer>
    <p>運営会社TWEETS株式会社</p>
    <p>© 2020 Copyright KOKUBU Corp.</p>
</footer>
</body>
